In [2]:
import pandas as pd

# Dataset analysis

More information on datasets can be found here: http://d4r.turktelekom.com.tr/presentation/data

## Dataset 1_Voice

Calls and duration by site (ingoing and outgoing) by month (one month per file)

In [16]:
Veri_Seti1_201701 = pd.read_csv('./Dataset 1_Voice/Veri_Seti1_201701.csv')

In [38]:
pd.DataFrame(Veri_Seti1_201701, index = [0,1,2,3,4])

,TIMESTAMP,OUTGOING_SITE_ID,INCOMING_SITE_ID,NUMBER_OF_CALLS,NUMBER_OF_REFUGEE_CALLS,NUMBER_OF_TOTAL_CALL_DURATION,REFUGEE_CALL_DURATION
0,01-01-2017 00,-99,9999,5,0,246,0
1,01-01-2017 00,5053270,9999,2,2,834,834
2,01-01-2017 00,5053280,9999,1,0,4200,0
3,01-01-2017 00,5053290,9999,1,0,138,0
4,01-01-2017 00,5053291,9999,1,0,15,0

## Dataset 1_SMS

As above for SMS

In [40]:
Veri_Seti1_SMS_201701 = pd.read_csv('./Dataset 1_SMS/Veri_Seti1_SMS_201701.csv')

In [41]:
pd.DataFrame(Veri_Seti1_SMS_201701, index = [0,1,2,3,4])

,TIMESTAMP,OUTGOING_SITE_ID,INCOMING_SITE_ID,NUMBER_OF_SMS,NUMBER_OF_REFUGEE_SMS
0,01-01-2017 00,-99,9999,5,0
1,01-01-2017 00,-99,5072470,1,0
2,01-01-2017 00,-99,5111339,2,0
3,01-01-2017 00,-99,5189218,2,0
4,01-01-2017 00,5053289,9999,1,0

## Dataset 2_Voice

Tracking callers by ID for a 2 week perios with site ID. Each contains a randomly sampled set of 3% of the refugee population and an equal number of non-refugees.

Caller prefix: 1: refugee, 2: non-refugee, 3: unknonwn

### In

Incoming calls

In [42]:
Dataset2_201701W_In = pd.read_csv('./Dataset 2_Voice/Dataset2_201701W_In.csv')

In [43]:
pd.DataFrame(Dataset2_201701W_In, index = [0,1,2,3,4])

    CALLER_ID      TIMESTAMP  CALLEE_PREFIX  SITE_ID  CALL_TYPE
0  1100140407  02-01-2017 16            2.0  5059421          2
1  1100140407  02-01-2017 16            2.0  5191433          2
2  1100140407  02-01-2017 18            2.0  5191433          2
3  1100140407  02-01-2017 19            2.0  5191433          2
4  1100140407  03-01-2017 14            2.0  5191433          2

### Out

Outgoing calls

In [44]:
Dataset2_201701W_Out = pd.read_csv('./Dataset 2_Voice/Dataset2_201701W_Out.csv')

In [45]:
pd.DataFrame(Dataset2_201701W_Out, index = [0,1,2,3,4])

    CALLER_ID      TIMESTAMP  CALLEE_PREFIX  SITE_ID  CALL_TYPE
0  1100086965  01-01-2017 12              2  5095166          1
1  1100086965  01-01-2017 14              2  5095166          1
2  1100086965  01-01-2017 15              2  5095170          1
3  1100086965  01-01-2017 19              2  5095170          1
4  1100086965  02-01-2017 13              2  5188000          1

## Dataset 2_SMS

As above for SMS

### In

In [9]:
Veri_Seti2_201701W_SMS_In = pd.read_csv('./Dataset 2_SMS/Veri_Seti2_201701W_SMS_In.csv')

In [10]:
pd.DataFrame(Veri_Seti2_201701W_SMS_In, index = [25,47,106,207,500])

      CALLER_ID      TIMESTAMP  CALLEE_PREFIX  SITE_ID  CALL_TYPE
25   1101062028  07-01-2017 17            3.0  5174391          2
47   1101637954  07-01-2017 00            2.0  5123068          2
106  1102236073  06-01-2017 11            2.0  5090510          2
207  1102376406  12-01-2017 15            2.0  5122540          2
500  1104337964  15-01-2017 00            2.0  5184816          2

### Out

In [49]:
Veri_Seti2_201701W_SMS_Out = pd.read_csv('./Dataset 2_SMS New/Veri_Seti2_201701W_SMS_Out.csv')

In [50]:
pd.DataFrame(Veri_Seti2_201701W_SMS_Out, index = [0,1,2,3,4])

    CALLER_ID      TIMESTAMP  CALLEE_PREFIX  SITE_ID  CALL_TYPE
0  1100015914  02-01-2017 13            2.0  5070436          1
1  1100015914  03-01-2017 14            2.0  5168292          1
2  1100015914  03-01-2017 16            2.0  5070436          1
3  1100015914  09-01-2017 13            2.0  5070436          1
4  1100015914  11-01-2017 18            2.0  5057347          1

## Dataset 3

Tracking callers by ID each month with district and city ID. A random sample of 50,000 refugees and non-refugees sampled over the whole period.

### In

Incoming calls

In [51]:
Veri_Seti3_201701_In = pd.read_csv('./Dataset 3/Veri_Seti3_201701_In.csv')

In [54]:
pd.DataFrame(Veri_Seti3_201701_In, index = [0,1,2,3,4])

    CALLER_ID         TIMESTAMP   ID  CITY_ID
0  1100144895  02-01-2017 12:52  568        7
1  1100144895  02-01-2017 20:40  568        7
2  1100144895  02-01-2017 21:41  568        7
3  1100144895  03-01-2017 14:57  828        7
4  1100144895  05-01-2017 10:01  568        7

### Out

Outgoing calls

In [56]:
Veri_Seti3_201701_Out = pd.read_csv('./Dataset 3/Veri_Seti3_201701_Out.csv')

In [57]:
pd.DataFrame(Veri_Seti3_201701_Out, index = [0,1,2,3,4])

    CALLER_ID         TIMESTAMP   ID  CITY_ID
0  1100142093  18-01-2017 20:20  167       42
1  1100144895  01-01-2017 17:07  828        7
2  1100144895  01-01-2017 17:09  828        7
3  1100144895  02-01-2017 10:01  568        7
4  1100144895  02-01-2017 12:57  568        7