In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import pickle
import sqlite3

In [2]:
Veri_Seti3_201701_In = pd.read_csv('./Dataset 3/Dataset 3_201701_In.csv')

In [3]:
Veri_Seti3_201701_Out = pd.read_csv('./Dataset 3/Dataset 3_201701_Out.csv')

In [12]:
JanuaryIn = np.asarray(Veri_Seti3_201701_In)

In [13]:
JanuaryOut = np.asarray(Veri_Seti3_201701_Out)

In [14]:
JanuaryIn[0,0] in JanuaryOut[:,0]

True

In [9]:
np.where(JanuaryOut[:,0] == JanuaryIn[0,0])

(array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
        18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
        35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51,
        52, 53, 54, 55, 56, 57, 58]),)

In [15]:
JanuaryIn[0,0] == JanuaryOut[1,0]

True

In [16]:
pd.DataFrame(Veri_Seti3_201701_In, index = [0,1,2,3,4])

    CALLER_ID         TIMESTAMP   ID  CITY_ID
0  1100144895  02-01-2017 12:52  568        7
1  1100144895  02-01-2017 20:40  568        7
2  1100144895  02-01-2017 21:41  568        7
3  1100144895  03-01-2017 14:57  828        7
4  1100144895  05-01-2017 10:01  568        7

In [17]:
pd.DataFrame(Veri_Seti3_201701_Out, index = [0,1,2,3,4])

    CALLER_ID         TIMESTAMP   ID  CITY_ID
0  1100142093  18-01-2017 20:20  167       42
1  1100144895  01-01-2017 17:07  828        7
2  1100144895  01-01-2017 17:09  828        7
3  1100144895  02-01-2017 10:01  568        7
4  1100144895  02-01-2017 12:57  568        7