In [23]:
import pandas as pd

## Base Station Location

Base station areas by longitude and latitude, nearest city and district

In [13]:
fields = ['BTS_ID','MX_LAT1','MX_LAT2','MX_LAT3','MX_LONG1','MX_LONG2','MX_LONG3','MX_SAHAIL'
          ,'MX_SILCE']

In [15]:
Base_Station_Location = pd.read_csv('./Mapping ID/Base_Station_Location.csv', usecols = fields)

In [16]:
pd.DataFrame(Base_Station_Location, index = [0,1,2,3,4])

,BTS_ID,MX_LAT1,MX_LAT2,MX_LAT3,MX_LONG1,MX_LONG2,MX_LONG3,MX_SAHAIL,MX_SILCE
0,5074914,41.0,29.0,23.51,32.0,5.0,38.72,BARTIN,CAYCUMA
1,5055395,39.0,33.0,17.90,27.0,41.0,31.91,BALIKESIR,ALTIEYLUL
2,5064215,37.0,56.0,24.54,32.0,29.0,45.35,KONYA,SELCUKLU
3,5064217,37.0,54.0,38.92,32.0,31.0,47.75,KONYA,KARATAY
4,5070617,39.0,54.0,51.40,28.0,9.0,24.50,BALIKESIR,SUSURLUK

Note: cut final column due to many empty data cells

## City Mapping

City ID and name

In [8]:
Dataset3_City_Mapping = pd.read_csv('./Mapping ID/Dataset3_City_Mapping.csv')

In [9]:
pd.DataFrame(Dataset3_City_Mapping, index = [0,1,2,3,4])

   CITY_ID CITY_DESC
0        1     ADANA
1        2  ADIYAMAN
2        3     AFYON
3        4      AGRI
4        5    AMASYA

## District Mapping

District ID and name

In [5]:
Dataset3_District_Mapping = pd.read_csv('./Mapping ID/Dataset3_District_Mapping.csv')

In [6]:
pd.DataFrame(Dataset3_District_Mapping, index = [0,1,2,3,4])

   ID         BTS_DISTRICT
0   1     ALTINYAYLA-SIVAS
1   2              SUSEHRI
2   3          AKDAGMADENI
3   4             RESADIYE
4   5  SEHIRMERKEZI-YOZGAT